# For GPS reading (gps_reader.py)
pyserial
pynmea2

# For Pixhawk heading & PWM (heading_reader.py and pwm_controller.py)
pymavlink

# Vision - OpenCV
opencv-python

# Optional (if using picamera2 for Raspberry Pi camera)
picamera2
